// SECTION :: START

section#address.address

  .address__container.address__container-1
    .c-grid
      .address__wrapper.address__wrapper-1
        div
          .address__box
            div
              i.fas.fa-home
            p 951 East Plaza Dr. Suite 150, Eagle ID 83616
        div
          .address__box
            div
              i.fas.fa-phone
            p!= "Phone: <a href='tel:208-939-4456'>208-939-4456</a>"
              a(href="#")
        div
          .address__box
            div
              i.fas.fa-envelope
            p!= "Email: <a href='mailto:info@renumedispa.com'>info@renumedispa.com</a>"

  .address__container.address__container-2
    .c-grid
      .address__wrapper.address__wrapper-2

        form.address__form(action='' method='' autocomplete="off")
          .address__form-group
            div
              .address__form-field
                label
                  p!= "First Name <span>(required)</span>"
                  input(type='text' name='' placeholder='')
            div
              .address__form-field
                label
                  p!= "Middle Name <span>(required)</span>"
                  input(type='text' name='' placeholder='')
            div
              .address__form-field
                label
                  p!= "Last Name <span>(required)</span>"
                  input(type='text' name='' placeholder='')

          .address__form-group
            div
              .address__form-field
                label
                  p!= "Date of Birth <span>(required)</span>"
                  input(type='date' name='' placeholder='')
            div
              .address__form-field
                label
                  p!= "Cell Phone <span>(required - digits only 2089394456)</span>"
                  input(type='tel' name='' placeholder='')
            div
              .address__form-field
                label
                  p!= "Email <span>(required)</span>"
                  input(type='email' name='' placeholder='')

          .address__form-field.address__form-field--checkbox
            div
              label
                input(type='checkbox' name='' placeholder='')
                span CoolSculpting
            div
              label
                input(type='checkbox' name='' placeholder='')
                span DIVA
            div
              label
                input(type='checkbox' name='' placeholder='')
                span Injectable - Dermal Fillers
            div
              label
                input(type='checkbox' name='' placeholder='')
                span Injectable - Wrinkle Relaxers
            div
              label
                input(type='checkbox' name='' placeholder='')
                span Laser
            div
              label
                input(type='checkbox' name='' placeholder='')
                span Skin Services
            div
              label
                input(type='checkbox' name='' placeholder='')
                span Ultherapy
          .address__form-field
            label
              p!= "Notes"
              textarea(placeholder='Your notes here...')
          .address__form-field.address__form-field--btn
            button(type='submit') Send

  .address__container.address__container-3
    .address__wrapper.address__wrapper-3

      iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d19406.041628774707!2d-116.35127369627918!3d43.69547302042557!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x556193e28b93e07d!2sRenu+Medispa!5e0!3m2!1sen!2sus!4v1557369367014!5m2!1sen!2sus' width='100%' height='500px' frameborder='0' style='border:0' allowfullscreen)

// SECTION :: END
